a {
    color: inherit;
    text-decoration: none;
}

/* ============ Style navbar ============ */
.active_nav {
    background: #cccccc;
    border: 2px solid #008584;
    transition: 700ms all;
}

.bg-nav {
    background: linear-gradient(#006666, #e9e9e9);
}

.fonte {
    font-family: 'Pacifico', cursive;
    color: #006666;
    font-size: 2em;
    text-shadow: #f5f5f5 0.1em 0.1em 0.2em;
}

.fonte:hover {
    color: #f5f5f5;
    text-shadow: #006666 0.1rem 0.1rem 0.2rem;
    transition: 700ms all;
}

.dropdown-toggle:focus, .fonte:focus {
    color: #f5f5f5;
    text-shadow: #006666 0.1rem 0.1rem 0.2rem;
}

.dropdown-menu {
    background-color: #cccccc;
}

.dropdown-item {
    color: #008584;
    font-weight: bold;
}

/* ====================================== */

/* Ajuste do botao do hamburgue */

.active_nav .navbar-toggler {
    border: 2px solid #ffffff;
}

.navbar-toggler {
    box-shadow: inset 0 0 2em #ffffff;
}

.navbar-toggler:focus {
    box-shadow: 0 0 1em #ffffff;
}

.navbar-toggler-icon i {
    font-size: 1.8em;
}

/* ============================== */

/* Caixa das paginas cadastrar e entrar */

.caixa {
    border: 1px solid #000000;
    box-shadow: #000000 0.1rem 0.1rem 0.3rem;
    margin: 40px auto 5px auto;
    max-width: 1025px;
    width: 100%;
}

.caixa-conta {
    padding: 30px 50px;
}

.fonte-titulo {
    color: #006666;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    text-shadow: #008584 0.1rem 0.2rem 0.1rem;
}

.facebook .google {
    height: 40px;
}

.login-conta {
    margin: 30px auto 30px;
}

.login-facebook {
    align-items: center;
    background-color: #1877f2;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    height: 40px;
    justify-content: center;
    max-width: 285px;
    width: 100%;
}

.login-facebook i {
    font-size: 24px;
    padding-right: 5px;
}

.login-facebook:hover {
    color: #ffffff;
    background: #1059b9;
    transition: 1s all;
}

.login-google {
    align-items: center;
    border: 1px solid #646464;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    max-width: 285px;
    width: 100%;
}

.login-google i {
    font-size: 24px;
    padding-right: 5px;
}

.login-google:hover {
    transition: 1s all;
}

.text {
    border-bottom: 1px solid #646464;
    font-size: 1.1rem;
    line-height: 0.1em;
    margin: 0 auto;
    text-align: center;
}

.text span {
    background: #f8f9fa;
    padding: 0 10px;
}

/* ==================================== */

.bg-main {
    background-color: #e9e9e9;
    padding-top: 10rem;
}

.bg-footer {
    background: linear-gradient(#e9e9e9, #006666);
}

.border-color:hover {
    border-color: #006666;
}

.card-width {
    max-width: 18rem;
}

.card-link {
    position: relative;
}

.imagem-carrossel {
    object-fit: cover;
    height: 80vh;
}

.fonte-card {
    color: #f5f5f5;
}

.fonte-text-shadow {
    text-shadow: #006666 0.1rem 0.1rem 0.2rem;
}

.fonte-paragrafo {
    font-family: 'Pacifico', cursive;
    color: #008584;
    font-size: 1.3rem;
}

.fonte-especial {
    font-family: 'Pacifico', cursive;
    color: #008584;
}

.botao {
    background-color: #008584;
    color: #f5f5f5;
}

.botao:hover {
    background-color: #006666;
    color: #f5f5f5;
    transition: 700ms all;
}

.icons {
    width: 40px;
    transition: 1s all;
}

.icons:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 992px) {
    #img-cartao {
        width: 100%;
    }

    .bg-main {
        padding-top: 5rem;
    }

}

/* 
.color1 { #f5f5f5 };
.color2 { #e9e9e9 };
.color3 { #006666 };
.color4 { #008584 };
.color5 { #cccccc };
 */