<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::main}, ~{::styles}, _)}">
<th:block th:fragment="styles"></th:block>

<head>
<meta charset="UTF-8">
</head>

<body>

	<main>
		<div class="container">
			<br>
			<!-- form -->
			<section class="row caixa">

				<form method="POST" th:object="${cargo}">
					<h1 class="fonte-especial">Cadastrar Cargo</h1>
					<hr>
					<br>
					<div class="alert alert-success alert-dismissible fade show"
						th:if="${mensagem}">
						<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
						<span th:text="${mensagem}"></span>
					</div>
					<br> <input type="hidden" th:field="*{id}">
					<div class="row">
						<div class="col-sm-12">
							<label for="nome" class="form-label">Nome</label> <input
								type="text" class="form-control"
								placeholder="Digite o cargo aqui" th:field="*{nome}" required>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-sm-6">
							<button type="submit" class="btn botao">SALVAR</button>
							<a href="/" class="btn btn-danger"> VOLTAR </a>
						</div>

						<div class="col-sm-6 d-flex justify-content-end">
							<a th:href="@{/cargos/listar}" class="btn btn-warning mb-2"> LISTAR CARGOS
							</a>
						</div>
					</div>

				</form>
			</section>
		</div>

	</main>
	<th:block th:fragment="scripts"></th:block>
</body>

</html>