<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::main}, ~{::styles}, _)}">
<th:block th:fragment="styles"></th:block>

<head>
<meta charset="UTF-8">
</head>

<body>

	<main>
		<div class="container p-4">
			<div class="d-flex justify-content-end">
				<a th:href="@{/cargos/cadastrar}" class="btn botao mb-2">
					Cadastrar Cargo </a>
			</div>
			<div class="d-flex justify-content-center">
				<h2 class="fonte-titulo">Lista de Cargos</h2>
			</div>
			<br>
			<table class="table table-striped table-responsive table-hover">
				<thead class="table-success">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						<th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cargo : ${cargos}">
						<th scope="row" th:text="${cargo.id}"></th>
						<td th:text="${cargo.nome}"></td>
						<td><a th:href="@{/cargos/{id}/editar (id=${cargo.id})}"
							class="btn" title="Editar"> <i class="bi-pencil"></i>
						</a> <a th:href="@{/cargos/{id}/excluir (id=${cargo.id})}" class="btn"
							title="Excluir"
							onclick="return confirm('Tem certeza que deseja excluir este cargo?');">
								<i class="bi-trash"></i>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<th:block th:fragment="scripts"></th:block>
</body>

</html>