<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::main}, ~{::styles}, _)}">
<th:block th:fragment="styles"></th:block>

<head>
<meta charset="UTF-8">
</head>

<body>

	<main>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<!-- form start -->
						<form method="POST" th:object="${cliente}">
							<div class="card-body">
								<div class="d-flex justify-content-center">
									<h2 class="fonte-titulo">Cadastro Cliente</h2>
								</div>
								<fieldset>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<legend class="fonte-especial">Dados Pessoais</legend>
										</div>
									</div>
									<input type="hidden" th:field="*{id}">

									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="nome" class="form-label">Nome</label> <input
													type="text" class="form-control" id="nome" name="nome"
													th:field="*{nome}" required>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="cpf" class="form-label">CPF</label> <input
													type="text" class="form-control"
													placeholder="000.000.000-00" id="cpf" name="cpf"
													th:field="*{cpf}" required>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="telefone" class="form-label">Telefone</label> <input
													type="text" class="form-control"
													placeholder="(99) 99999-9999" id="telefone" name="telefone"
													th:field="*{telefone}" required>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="dataNascimento" class="form-label">Data
													de Nascimento</label> <input type="date" class="form-control"
													id="dataNascimento" name="dataNascimento"
													th:field="*{dataNascimento}" required>
											</div>
										</div>
									</div>


								</fieldset>

								<fieldset>
									<legend class="fonte-especial">Endereço</legend>

									<input type="hidden" th:field="*{endereco.id}">

									<div class="row">
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label for="endereco.cep" class="form-label">CEP</label> <input
													type="text" class="form-control" placeholder="00000-000"
													id="endereco.cep" name="endereco.cep"
													th:field="*{endereco.cep}" required>
											</div>
										</div>
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label class="form-label">Estado</label> <select
													th:field="*{endereco.uf}" class="form-control select2bs4"
													style="width: 100%;">
													<option th:each="uf : ${ufs}" th:text="${uf}"
														th:value="${uf}"></option>
												</select>
											</div>
										</div>
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label for="endereco.cidade" class="form-label">Cidade</label>
												<input type="text" class="form-control" id="endereco.cidade"
													name="endereco.cidade" th:field="*{endereco.cidade}">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label for="endereco.bairro" class="form-label">Bairro</label>
												<input type="text" class="form-control" id="endereco.bairro"
													name="endereco.bairro" th:field="*{endereco.bairro}">
											</div>
										</div>
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label for="endereco.logradouro" class="form-label">Logradouro</label>
												<input type="text" class="form-control"
													id="endereco.logradouro" name="endereco.logradouro"
													th:field="*{endereco.logradouro}">
											</div>
										</div>
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label for="endereco.numero" class="form-label">Número</label>
												<input type="text" class="form-control" id="endereco.numero"
													name="endereco.numero" th:field="*{endereco.numero}">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="endereco.complemento" class="form-label">Complemento</label>
												<input type="text" class="form-control"
													id="endereco.complemento" name="endereco.complemento"
													th:field="*{endereco.complemento}">
											</div>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<legend class="fonte-especial">Dados de Login</legend>

									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="email" class="form-label">E-mail</label> <input
													type="email" class="form-control"
													placeholder="exemplo@email.com" id="email" name="email"
													th:field="*{email}" required>
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label for="senha" class="form-label">Senha</label> <input
													type="password" class="form-control" id="senha"
													name="senha" th:field="*{senha}" required>
											</div>
										</div>
									</div>
								</fieldset>
							</div>

							<div class="card-footer">
								<div class="col-md-6 col-sm-12">
									<button type="submit" class="btn botao">SALVAR</button>
									<a href="/clientes/listar" class="btn btn-danger"> VOLTAR </a>
								</div>

								<div class="col-md-12 col-sm-12 d-flex justify-content-end">
									<a th:href="@{/clientes/listar}" class="btn botao mb-2"> Lista
										clientes </a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
	</main>
	<th:block th:fragment="scripts"></th:block>
</body>

</html>