<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<footer class="bg-footer" th:fragment="footer">
		<div class="container-fluid">
			<section class="row pt-3">
				<article class="col-lg-6 col-sm-12">
					<p class="fonte-especial display-6 text-center">Aceitamos todos
						os cartões</p>
					<figure class="d-flex justify-content-center">
						<img id="img-cartao" src="./img/aceitamos-cartoes.png" th:src="@{/img/aceitamos-cartoes.png}" alt="">
					</figure>
				</article>
				<article class="col-lg-6 col-sm-12">
					<p class="fonte-especial display-6 text-center">Visite nossas
						redes sociais</p>
					<ul class="d-flex justify-content-evenly pt-5">
						<a href="#"><i class="bi bi-instagram" id="instagram"></i></a>
						<a href="#"><i class="bi bi-facebook" id="facebook"></i></a>
						<a href="#"><i class="bi bi-twitter" id="twitter"></i></a>
					</ul>
				</article>
			</section>
		</div>
	</footer>
</body>
</html>