<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<header th:fragment="header">
		<!-- Incluindo o menu de navegação -->
		<nav class="navbar navbar-expand-lg bg-navbar">
			<div class="container-fluid">
				<figure>
					<a class="navbar-brand" href="/"><img class="rounded-circle"
						th:src="@{/img/Viagem1.png}" alt="Logomarca paixão nordestina"></a>
				</figure>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span
						class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i
						class="bi bi-list"></i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link fonte"
							th:href="@{/destino}">Destinos</a></li>
						<li class="nav-item"><a class="nav-link fonte"
							th:href="@{/promocao}">Promoções</a></li>
						<li class="nav-item"><a class="nav-link fonte"
							th:href="@{/contatos/cadastrar}">Contato</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle fonte" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Acesse aqui
						</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/clientes/cadastrar}">Cadastrar</a></li>
								<li><a class="dropdown-item" th:href="@{/usuario/login}">Entrar</a></li>
							</ul></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle fonte" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Adm </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/cargos/cadastrar}">Criar
										Cargo</a></li>
								<li><a class="dropdown-item"
									th:href="@{/funcionarios/cadastrar}">Cadastrar Funcionario</a></li>
								<li><a class="dropdown-item" th:href="@{/contatos/listar}">Listar
										Contatos</a></li>
								<li><a class="dropdown-item" th:href="@{/clientes/listar}">Listar
										Clientes</a></li>
							</ul></li>
					</ul>
				</div>
				<form th:action="@{/logout}" method="POST">
					<div class="d-flex justofy-content-end">
						<button type="submit" class="btn botao">SAIR</button>
					</div>
				</form>
			</div>
		</nav>
	</header>

</body>
</html>