<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout (content, styles, scripts)">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Paixão Nordestina</title>

<link rel="stylesheet" th:href="@{/css/reset.css}">
<!-- Google Fonts: Pacifivo -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
<!-- Icon bootstrap -->
<link rel="icon" th:href="@{/img/viagem1.png}" type="image/png" />
<!-- CND Icon bootstrap -->
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}">
<!-- CDN Style bootstrap -->
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}">
<!-- <link rel="stylesheet" href="./css/bootstrap.css"> -->
<link rel="stylesheet" th:href="@{/css/styles.css}">

<th:block th:replace="${styles}"></th:block>
</head>

<body>

	<header th:replace="fragments/_header :: header">
		<nav>navbar</nav>
	</header>

	<main class="bg-main" th:include="${content}">
		<div>conteudo da main</div>
	</main>

	<footer th:replace="fragments/_footer :: footer">
		<div>footer</div>
	</footer>
	<!-- CDN javascript bootstrap -->
	<script	th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"></script>
	<!-- Javascript folder static -->
	<script th:src="@{/js/script.js}"></script>
	<!-- JQuery -->
	<script th:src="@{https://code.jquery.com/jquery-3.6.1.min.js}"></script>
	<th:block th:replace="${scripts}"></th:block>
</body>

</html>