<!DOCTYPE html>
<html lang="pt-br"
	th:fragment="layout (content, styles, scripts)">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="./img/viagem1.png" type="image/png" />
<title>Paixão Nordestina</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="./css/reset.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<!-- <link rel="stylesheet" href="./css/bootstrap.css"> -->
<link rel="stylesheet" href="./css/styles.css">
<th:block th:replace="${styles}"></th:block>
</head>

<body>

	<header th:replace="fragments/_header :: header">
		<nav>navbar</nav>
	</header>

	<main th:include="${content}">
		<div>conteudo da main</div>
	</main>

	<footer th:replace="fragments/_footer :: footer">
		<div>footer</div>
	</footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="./js/script.js"></script>
</body>

</html>