<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::main}, ~{::styles}, _)}">
<th:block th:fragment="styles"></th:block>

<head>
<meta charset="UTF-8">
</head>

<body>

	<main>
		<div>
			<img class="banner" src="../img/banner.png" alt="">
		</div>
		<div class="container">
			<!-- form -->
			<form method="POST" th:object="${contato}">
				<h1 class="fonte-especial">Contato</h1>
				<hr>
				<div class="row">
					<div class="col-md">
						<div class="mb-3">
							<label for="nome" class="form-label">Nome</label> <input
								type="text" class="form-control" id="nome" name="nome"
								th:field="*{nome}" aria-describedby="helpIdNome"
								placeholder="Nome" required>
						</div>
					</div>
					<div class="col-md">
						<div class="mb-3">
							<label for="sobrenome" class="form-label">Sobrenome</label> <input
								type="text" class="form-control" id="sobrenome"
								aria-describedby="helpIdSobrenome" placeholder="Sobrenome"
								name="sobrenome" th:field="*{sobrenome}" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<div class="mb-3">
							<label for="email" class="form-label">Email</label> <input
								type="email" class="form-control" id="email"
								aria-describedby="emailHelpId" placeholder="exemplo@mail.com"
								name="email" th:field="*{email}" required>
						</div>
					</div>
					<div class="col-md">
						<div class="mb-3">
							<label for="telefone" class="form-label">Telefone</label> <input
								type="text" class="form-control" id="telefone"
								aria-describedby="helpId" placeholder="(xx) xxxxx-xxxx"
								name="telefone" th:field="*{telefone}" required>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="mensagem" class="form-label">Mensagem</label>
					<textarea class="form-control" id="mensagem" rows="10"
						placeholder="Deixe aqui sua mensagem que entraremos em contato."
						name="mensagem" th:field="*{mensagem}" required></textarea>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Aceitar
						os termos e condições</label>
				</div>
				<div>
					<button type="submit" class="btn botao">ENVIAR</button>
					<a href="/" class="btn btn-danger"> VOLTAR </a>
				</div>
			</form>
		</div>
	</main>
	<th:block th:fragment="scripts"></th:block>
</body>

</html>